body {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.Logo {
  object-fit: contain;
  height: 4rem;
  width: 4rem;
}

nav {
  display: flex;
  justify-items: center;
}

nav a {
  padding: 1rem;
}
