body {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.Logo {
  object-fit: contain;
  height: 5rem;
  width: 5rem;
}

main {
  padding: 4rem;
}

ul > ul {
  flex-direction: column;
}

.dropdown {
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
}
.parent:hover .dropdown {
  transition: ease-in-out;
  transition-duration: 0.3s;
  opacity: 1;
}

header nav,
nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;
  border-radius: 1rem;
}
header nav ul li a {
  padding: 1rem;
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

header nav a:hover {
  text-decoration: underline;
}

nav img {
  align-self: center;
  object-fit: cover;
  max-height: 200px;
}

main {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.Logo {
  object-fit: contain;
  height: 4rem;
  width: 4rem;
}

nav {
  display: flex;
  justify-items: center;
}

nav a {
  padding: 1rem;
}
main img {
  width: 400px;
  height: auto;
}

a {
  color: black;
  text-decoration: none;
}
