.LRContainer {
  display: flex;
  flex-direction: column;

  padding-bottom: 5rem;
}

img {
  object-fit: cover;
  max-height: 300px;
  max-width: 300px;
}

.BTContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
